@import './reset'
@import './typography'

primaryColor = #3260a8
hoverColor = lighten(primaryColor, 20%)
activeColor = lighten(primaryColor, 40%)

remove-background()
  outline none
  border none
  border-radius 0
  background none

.displaced
  position absolute
  top -200px

.horizontal
  display flex
  margin-top 1.5em
  padding 0.5em 1em
  width 100vw

#input
  margin-right 1em
  padding 0.5em
  width 100%
  remove-background()
  border-bottom 2px solid primaryColor
  font-size 1.2em
  line-height 1em

  &:hover
    border-color hoverColor

  &:active
    border-color activeColor

button
  align-self center
  padding 0.5em
  color primaryColor
  remove-background()
  text-transform uppercase
  font-weight 600
  cursor pointer

  &:hover
    color hoverColor

  &:active
    color activeColor

svg
  padding 5em
  max-width 100vw
  height calc(100vh - 4em)

body
  display flex
  flex-direction column
  align-items center
  margin 0
  height 100vh
