primaryColor = #d73200
hoverColor = lighten(primaryColor, 10%)
activeColor = lighten(primaryColor, 20%)

*, *::before, *::after
  box-sizing border-box

body
  display flex
  flex-direction column
  align-items center
  min-height 400px

html, body
  height 100%

html
  font-size 1px /* for using REM units */

body, textarea
  margin 0
  padding 0
  color #222
  font-size 16rem
  font-family 'Tahoma', 'Helvetica Neue', sans-serif
  line-height 1.3em

.hidden
  display none

.displaced
  position absolute
  top -200px

.top
  padding 30px
  width 100vw

.bottom
  position absolute
  bottom 1em
  display flex
  flex-wrap wrap
  justify-content space-between

.mini
  max-width 400px

#controls
  position relative
  display flex
  width 100%

#templates
  margin-left -30px

#clear
  position absolute
  top -2px
  right 0
  z-index 5

textarea, button
  align-self center
  padding 5px
  min-width 1.5em
  outline none
  border none
  border-radius 0
  background none

textarea
  min-height 2em
  width 100%
  border-bottom 1px solid primaryColor

  &:hover
    border-color hoverColor

button, a
  color primaryColor
  text-decoration none
  font-variant all-small-caps
  font-size 1.5em
  cursor pointer

  &:hover
    color hoverColor

  &:active
    color activeColor

svg
  max-width 97vw
  max-height calc(100vh - 10em)
  width 100%
  cursor pointer
  transition all 0.2s

  &:after
    display block
    padding-bottom 100%
    content ''

path
  pointer-events none

a
  margin 2px 6px
  font-size 1.2em

ul
  position absolute
  top 2em
  left 0
  padding 0
  background-color rgba(255, 255, 255, 0.8)
  backdrop-filter blur(7px)

  &:target
    visibility visible
    opacity 1

  li
    padding 0 1em
    min-height 3em
    color primaryColor
    list-style-type none
    font-variant all-small-caps
    line-height 3em
    cursor pointer

    &:hover
      background rgba(0, 0, 0, 0.1)
