html
  font-size 1px /* for using REM units */

body
  color #222
  font-weight 400
  font-size 16rem
  font-family -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif
  line-height 1.3