html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' href='style/index.styl')
    title Document
  body
    .horizontal
      input#input(type='text' placeholder='Enter text here...')
      button#clear Clear
      button#paste Paste

    svg#canvas(viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg')
    script(src='index.ts') 
